diffusers
transformers==4.35.2
accelerate==0.25.0
timm==0.4.12
decord
einops
scipy
pandas
coloredlogs
flatbuffers
numpy==1.26.4
packaging
protobuf
sympy
imageio-ffmpeg
insightface
facexlib
opencv-python-headless
gradio
onnxruntime-gpu
